[submodule "src/lib/fmt"]
	path = src/lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/lib/spdlog"]
	path = src/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/lib/di"]
	path = src/lib/di
	url = https://github.com/boost-experimental/di
[submodule "src/lib/googletest"]
	path = src/lib/googletest
	url = https://github.com/google/googletest
